<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Farplane.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Farplane.Properties.Settings>
            <setting name="AppTheme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="AppAccent" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ShowAllProcesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseWithGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsVersion" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="EnableMods" serializeAs="String">
                <value>False</value>
            </setting>
        </Farplane.Properties.Settings>
    </userSettings>
</configuration>